[submodule "categories/marketing"]
	path = categories/marketing
	url = https://github.com/AVCorn/avcorn-templates-marketing.git
	branch = main
[submodule "categories/modern"]
	path = categories/modern
	url = https://github.com/AVCorn/avcorn-templates-modern.git
	branch = main
[submodule "categories/simple"]
	path = categories/simple
	url = https://github.com/AVCorn/avcorn-templates-simple.git
	branch = main
[submodule "categories/agency"]
	path = categories/agency
	url = https://github.com/AVCorn/avcorn-templates-agency.git
	branch = main
[submodule "categories/autoshop"]
	path = categories/autoshop
	url = https://github.com/AVCorn/avcorn-templates-autoshop.git
	branch = main
[submodule "categories/lawncare"]
	path = categories/lawncare
	url = https://github.com/AVCorn/avcorn-templates-lawncare.git
	branch = main
	
[submodule "categories/insurance"]
	path = categories/insurance
	url = https://github.com/AVCorn/avcorn-templates-insurance.git
[submodule "categories/coffeeshop"]
	path = categories/coffeeshop
	url = https://github.com/AVCorn/avcorn-templates-coffeeshop.git
[submodule "categories/spa"]
	path = categories/spa
	url = https://github.com/AVCorn/acorn-templates-spa.git
[submodule "categories/photographer"]
	path = categories/photographer
	url = https://github.com/AVCorn/avcorn-templates-photographer.git
